body {
  background: blueviolet;
  text-align: center;
  font-size: 40px;
}
* {
  border: solid;
  border-collapse: collapse;
}

.container {
  flex-direction: column;
  display: flex;
}

.a {
  height: 25vh;
  width: 100%;
  margin:auto;
}

.b  {
  height: 25vh;
  width: 50%;
  /* margin-top: 10px; */
  float: left;
}


.f {
  height: 100vh;
  width: 30%;
  align-self: flex-end;
  float: right;
}

.c, .d, .e {
display: flex;
 width: 30%;
 min-height: 20vh;
 margin-top: 10px;
}